{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
			<h1 class="mb-3">The First Social Media Stock Exchange</h1>
			<h3 class="mb-3">Invest in your favorite stars. Earn points. Win prizes.</h3>
			<div id="clout-exchange-app"></div>
	</div>
	{% include 'ticker.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <!-- add page specific stylesheets here -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        window.CLOUT_CELEB_APP_PROPS = {{ cloutCelebAppProps|json_encode|raw }};
    </script>

    <script src="{{ asset('build/cloutexchange_react_app.js') }}"></script>
{% endblock %}
